body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  color: white;
  font-family: 'Special Elite', cursive;
}

.text-logo {
  color: red;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.movie-img {
  width: 100px;
}

.card {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.card-small {
  width: 30%;

}

.movie-card {
  background-color: black;
  color: white;
}

.center {
  color: white;
}

.card-title {
  font-family: 'Special Elite', cursive;
  font-size: 10%;
}

.text-logo {
  font-family: 'Special Elite', cursive;
}

.card-content {
  color: black;
  font-size: 120%;
}

.movie-item-poster {
  width: 80%;
}

.movie-item {
  background-color: #e3e7ed;
  color: #4e4e4f;
  text-align: left;
}
.movie-item-title{
  font-weight: bold;
 
}


/* .movie-item-text p {
  padding-right: 0 20px;
  margin-right: 20px;
  font-size: 1.1em;
} */

@media screen and (max-width: 320px){
  .movie-item-text{
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}